<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Apache 2.4.7 Header setifempty Access-Control-Allow-Origin "*"
# Apache 2.2.4 below
Header append Access-Control-Allow-Origin ""
Header edit Access-Control-Allow-Origin "^$" "*"
Header edit Access-Control-Allow-Origin "^(.+),\s*$" "$1"


